body {
    background-color: antiquewhite;
}

.square {
    border: 2px solid blue;
}

.gamespace {
    display: flex;
    flex-direction: row;
}
.gameButtons {
    display: flex;
    flex-direction: row;
}